{% extends 'home/base.html' %}

{% block title %}
    <h2>Agregar Comentarios</h2>
{% endblock title %}

{% block content %}
    <h3>Agregar un nuevo comentario:</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Comentar</button>
    </form>

    <h2>Comentarios existentes:</h2>
    <ul>
        {% for comentario in comentarios %}
            <li>
                <p>{{ comentario.texto }}</p>
                <p>{{comentario.fecha_creacion}}</p>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="eliminar_comentario" value="{{ comentario.id }}">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'home:index' %}">Ir atrás</a></p>
{% endblock content %}